
<h1 style="text-align: center;">TÉCNICO EM CIÊNCIA DE DADOS</h1>
<h1 style="text-align: center;">GABARITO PROFESSOR</h1>
<br>
<br>

**Componente:** Programação Aplicada à Ciência de Dados 
<br>
**Unidade Curricular:** Lógica de Programação e Fundamentos de Python
<br>
**Tema da Semana:** Variáveis e tipos de dados em Python
<br>

# Aula 4 — Fixação de variáveis e tipos com desafios

## 1) Relembre rápido: variáveis, tipos e f-strings
Sem usar laços de repetição ou condicionais.
Tipos comuns: `int`, `float`, `str`, `bool`.

In [1]:
nome = 'Ana'
idade = 16           # int
altura = 1.63        # float
matriculado = True   # bool

print(type(nome))
print(type(idade))
print(type(altura))
print(type(matriculado))

print(f'{nome} tem {idade} anos e {altura} m. Matriculado? {matriculado}')

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
Ana tem 16 anos e 1.63 m. Matriculado? True

## 2) Entradas e saídas: `input()` e `print()`

In [2]:
produto = input('Produto: ')
preco_texto = input('Preço (use ponto ou vírgula): ')

preco = float(preco_texto.replace(',', '.'))
print(f'Produto: {produto} | Preço: R${preco:.2f}')

Produto:  Nome do Produto
Preço (use ponto ou vírgula):  2,50

Produto: Nome do Produto | Preço: R$2.50

## 3) Desafio 1 — Cartão de identificação do estudante

**Tarefa:** definir `nome` (*str*), `ano_nascimento` (*str*), `ano_atual` (*int*); converter e calcular idade; exibir com `f-string`.

In [3]:
nome = 'Luan'
ano_nascimento_str = '2009'
ano_atual = 2025

ano_nascimento = int(ano_nascimento_str)
idade = ano_atual - ano_nascimento

print(f'Aluno: {nome} | Idade: {idade} anos')

Aluno: Luan | Idade: 16 anos

## 4) Desafio 2 — Cantina: total da compra com desconto

**Tarefa:** preços chegam como texto (um com vírgula, outro com ponto). Converter, somar e aplicar desconto fixo de 5%.

In [4]:
item1 = 'Pão de queijo'
preco1_str = '4,50'
item2 = 'Suco'
preco2_str = '5.00'
desconto = 0.05  # 5%

preco1 = float(preco1_str.replace(',', '.'))
preco2 = float(preco2_str)

subtotal = preco1 + preco2
total = subtotal * (1 - desconto)

print(f'Itens: {item1} e {item2}')
print(f'Subtotal: R${subtotal:.2f}')
print(f'Desconto: {desconto*100:.0f}% | Total: R${total:.2f}')

Itens: Pão de queijo e Suco
Subtotal: R$9.50
Desconto: 5% | Total: R$9.03

## 5) Desafio 3 — Conversor simples de unidades

**Tarefa:** receber/definir metros (*str*), converter para *float*, calcular centímetros e milímetros.

In [5]:
metros_str = '1,75'
metros = float(metros_str.replace(',', '.'))
centimetros = metros * 100
milimetros = metros * 1000

print(f'{metros:.2f} m = {centimetros:.0f} cm = {milimetros:.0f} mm')

1.75 m = 175 cm = 1750 mm

## 6) Testes de tipo: `type()` e `isinstance()`
Verificar tipos retornando booleanos, sem usar condicionais.
Comparação: `type(x) == int` vs `isinstance(x, int)`.

In [6]:
valor1 = 10
valor2 = 3.2
valor3 = '10'
valor4 = False

print(type(valor1) == int, isinstance(valor1, int))
print(type(valor2) == float, isinstance(valor2, float))
print(type(valor3) == str, isinstance(valor3, str))
print(type(valor4) == bool, isinstance(valor4, bool))

print('2025'.isdigit())   # True
print('12.5'.isdigit())   # False
print('12,5'.isdigit())   # False

True True
True True
True True
True True
True
False
False

## 7) Erros comuns e como evitar (sem try/except)
- `int('12.3')` dá erro → use `float('12.3')` primeiro ou ajuste vírgula.
- Espaços e sinais em números de texto → use `strip()` antes de converter.

In [7]:
texto = '  -42  '
print(int(texto.strip()))

print(float('12.3'))
print(float('12,3'.replace(',', '.')))

-42
12.3
12.3

## 8) Exercícios de fixação
Resolva cada item em uma célula separada.

1. Converta `'202'` para inteiro e multiplique por `3.5` (resultado `float`).
2. Converta `'3,1415'` para `float` e mostre com **3 casas** decimais.
3. Verifique o tipo de `True` e `False` e imprima o resultado.
4. Transforme o número `7` em texto e **concatene** com `' dias'`.
5. Use `isinstance()` para checar se `'25'` é `str` e se `25` é `int` (imprima os dois resultados).

In [8]:
# Exercício 1
num = int('202')
resultado = num * 3.5
print(resultado, type(resultado))

707.0 <class 'float'>

In [9]:
# Exercício 2
pi = float('3,1415'.replace(',', '.'))
print(f'{pi:.3f}')

3.142

In [10]:
# Exercício 3
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [11]:
# Exercício 4
dias = str(7) + ' dias'
print(dias)

7 dias

In [12]:
# Exercício 5
print(isinstance('25', str))
print(isinstance(25, int))

True
True

## 9) Desafio final — Orçamento rápido do evento da escola
**Contexto:**
A turma está organizando um evento na escola e precisa calcular rapidamente os custos de três itens comprados para o lanche (exemplo: suco, bolo e copos descartáveis). Os preços foram anotados em texto por diferentes colegas, mas alguns usaram vírgula e outros usaram ponto como separador decimal. Além disso, cada item tem uma quantidade inteira a ser comprada.

**Tarefa:**
- Declarar variáveis para preço unitário (em texto) e quantidade (em número inteiro) de cada item.
- Converter os preços em texto para valores numéricos corretos (float), substituindo vírgula por ponto quando necessário.

**Calcular:**
- O custo total de cada item (preço unitário × quantidade).
- O total geral do orçamento.
- A média simples do custo dos três itens.

In [13]:
# Definição dos preços (texto) e quantidades (int)
preco1_str, qtd1 = '19,90', 3
preco2_str, qtd2 = '4.50',  5
preco3_str, qtd3 = '2,75',  10

# Conversão: vírgula -> ponto (quando necessário) e para float
preco1 = float(preco1_str.replace(',', '.'))
preco2 = float(preco2_str)
preco3 = float(preco3_str.replace(',', '.'))

# Totais por item
total1 = preco1 * qtd1
total2 = preco2 * qtd2
total3 = preco3 * qtd3

# Total geral e média simples por item
total_geral = total1 + total2 + total3
media_por_item = total_geral / 3

print(f'Total 1: R${total1:.2f}')
print(f'Total 2: R${total2:.2f}')
print(f'Total 3: R${total3:.2f}')
print(f'Total geral: R${total_geral:.2f}')
print(f'Média por item: R${media_por_item:.2f}')

Total 1: R$59.70
Total 2: R$22.50
Total 3: R$27.50
Total geral: R$109.70
Média por item: R$36.57

## 10) Referência rápida
- `int(x)`: inteiro · `float(x)`: decimal · `str(x)`: texto · `bool(x)`: lógico.
- `type(x)`: retorna o tipo do valor; `isinstance(x, TIPO)`: testa pertencimento.
- Dicas: `valor.replace(',', '.')` para vírgula decimal · `texto.strip()` para remover espaços.